{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <h1>Change password</h1>
    <form action="/password" method="post"><br>
        <input type="password" name="prev_password" placeholder="Previous Password"><br><br>
        <input type="password" name="new_password" placeholder="New Password"><br><br>
        <input type="password" name="password_confirm" placeholder="Confirm new password"><br><br>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}